In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame({
    '1列目': [1, 2, 3, 4],
    '2列目': [10, 20, 30, 40]
})

In [6]:
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [13]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50,50]+[35.69,139.70],
    columns=['lat', 'lon']
)

In [14]:
df

          lat         lon
0   35.699171  139.700430
1   35.697117  139.716258
2   35.702180  139.700896
3   35.702889  139.702852
4   35.692332  139.704764
..        ...         ...
95  35.695170  139.711946
96  35.705337  139.700230
97  35.692634  139.713902
98  35.694510  139.717440
99  35.690509  139.704721

[100 rows x 2 columns]