In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame({
    '1列目': [1, 2, 3, 4],
    '2列目': [10, 20, 30, 40]
})

In [6]:
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [9]:
df = pd.DataFrame(
    np.random.rand(100, 2)/50,
    columns=['lat', 'lon']
)

In [10]:
df

         lat       lon
0   0.618133  0.273316
1   0.963892  0.000335
2   0.993823  0.485086
3   0.912991  0.214610
4   0.350645  0.015105
..       ...       ...
95  0.389350  0.735469
96  0.155701  0.651423
97  0.192943  0.286348
98  0.237629  0.412959
99  0.678138  0.332375

[100 rows x 2 columns]